@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--cor-de-fundo);
  font-family: "Manrope", sans-serif;
}

.cartao {
  background-color: var(--cor-cartao);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  max-width: 40rem;
  margin:2rem;
  padding: 2rem;
}

.cartao .informacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartao .informacoes .titulo {
  color: var(--btn-e-texto);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.cartao .informacoes .conselho {
  color: var(--cor-texto);
  padding: 2rem 0  ;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}

.image {
  width: 100%;
  transform: translateY(-25%);
  padding: 2rem;
}

.btn {
  background-color: var(--btn-e-texto);
  border: none;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transition: box-shadow 0.3s ease;
  position: relative;
  transform: translateY(-100%);
}

.btn:hover {
  box-shadow: 0 0 10px #53ffaa;
  cursor: pointer;
}
